<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CURA Healthcare Suite">

    <listeners>
        <listener class-name="com.curahealthcare.utils.TestListener"/>
    </listeners>

    <test name="CURA HEALTHcare Regression Tests">
        <classes>
            <class name="com.curahealthcare.tests.LoginTest"/>
            <class name="com.curahealthcare.tests.AppointmentTest"/>
        </classes>
    </test>

    <!-- You can also specify individual classes instead of packages -->
    <!--
    <test name="Login Tests">
        <classes>
            <class name="com.curahealthcare.tests.LoginTest"/>
        </classes>
    </test>
    -->

    <!-- Example of running specific methods -->
    <!--
    <test name="Critical Path Tests">
        <classes>
            <class name="com.curahealthcare.tests.AppointmentTest">
                <methods>
                    <include name="testCreateAppointment"/>
                    <include name="testModifyAppointment"/>
                </methods>
            </class>
        </classes>
    </test>
    -->
</suite>