<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CURA Healthcare Suite">

    <listeners>
        <listener class-name="com.curahealthcare.utils.TestListener"/>
    </listeners>

    <test name="CURA HEALTHcare Regression Tests">
        <classes>
            <class name="com.curahealthcare.tests.LoginTest"/>
            <class name="com.curahealthcare.tests.AppointmentTest"/>
            <class name="com.curahealthcare.tests.HistoryTest"/>
            <class name="com.curahealthcare.tests.LogoutTest"/>
        </classes>
    </test>


</suite>